
.wrapper{
  min-height: 275px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
}
.title, .divider, .details{
  flex-basis: 100%;
  text-align: right;
}

.divider{
  height: 0px;
}